@import "../../styles.scss";

.footer {
    @include flexColumn;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: black;
    color: white;
    margin-top: 1rem;
}