<div class="banner">
    <img src="aboutBanner.png" >
    <span>Chez vous, partout et ailleurs</span>
</div>

<div class="about-container">

    @for (about of abouts() ; track about.name) {
    <div class="component">

        <div class="component-title">
            <div>{{ about.title }}</div>
            @if(about.expandBtn == false) {
            <button (click)="closeText(about)" class="notExpand-button">&uarr;</button>
            }
            @if(about.notExpandBtn == false) {
            <button (click)="openText(about)" class="expand-button">&darr;</button>
            }
        </div>
        @if(about.expandBtn == false) {
        <div class="description">
            <div>{{ about.text }}</div>
        </div>
        }
    </div>
    }
</div>