@import "../../styles.scss";

.homeCardTitle {
    height: 20%;
    align-content: center;
}

.global-container {
    @include flexRowJCCenter;
    flex-wrap: wrap;
    text-align: center;
}

.card-container {
    border: 1px solid black;
    margin: 1rem;
    width: 25%;
    border-radius: 0.5rem;
    background-color: $rouge;
    color: white;
    @include flexColumn;

    @include verySmall {
        width: 80%;
    }

    ;

    @include small {
        width: 40%;
    }
}

img {
    height: auto;
    width: 100%;
    height: 80%;
}