<div class="global-container">
  @for (location of locations() ; track location.id) {
  @if ( location.id == id) {

  <main>
    <div class="global-container">
      <div class="galery">
        <button (click)="prev()" class="galeryBtnLeft">&larr;</button>
        <img class="galeryImg" src={{location.pictures[pictureIndex]}}>
        <button (click)="next()" class="galeryBtnRight">&#x2192;</button>
      </div>
      <div class="mid-container">
        <div class="info-container">
          <div class="title">{{ location.title }}</div>
          <div class="location">{{ location.location }}</div>
          <div class="tags-container">
            @for (tag of location.tags ; track $index) {
            <div class="tags">{{ tag }}</div>
            }
          </div>
        </div>
        <div class="hostAndRating-container">
          <div class="host-container">
            <div class="host">{{ location.host.name }}</div>
            <img src={{location.host.picture}}>
          </div>
          <div class="rating">{{ location.rating }} étoiles</div>
        </div>
      </div>
      <div class="bottom-container">

        <div class="component">
          <div class="component-title">
            <div>Description</div>
            @if(openDescription == true) {
            <button (click)="closeDescriptionDetails()" class="notExpand-button">&uarr;</button>}
            @if(openDescription == false) {
            <button (click)="openDescriptionDetails()" class="expand-button">&darr;</button>}
          </div>
          @if(openDescription == true) {
          <div class="description">
            <div>{{ location.description }}</div>
          </div>
          }
        </div>

        <div class="component">
          <div class="component-title">
            <div>Equipements</div>
            @if(openEquipments == true) {
            <button (click)="closeEquipmentsDetails()" class="notExpand-button">&uarr;</button>}
            @if(openEquipments == false) {
            <button (click)="openEquipmentsDetails()" class="expand-button">&darr;</button>}
          </div>
          @if(openEquipments == true) {
          <div class="equipments">
            @for (equipment of location.equipments ; track $index) {
            <div> {{equipment}} </div>
            }
          </div>
          }
        </div>

      </div>
    </div>
  </main>

  }
  }
</div>