@mixin small {
  @media (min-width: 501px) and (max-width: 1024px) {
      @content;
    }
  }

@mixin verySmall {
    @media screen and (max-width: 500px) {
      @content;
    }
  }

@mixin flexRowAICenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexRowJCCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flexRowJCBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}